
<!DOCTYPE html>
    html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Genius
        style      
            include pug.css  
        body
            .quadrado1
            .quadrado2
            .quadrado3
            .quadrado4
            .quadrado5
            .quadrado6
            .quadrado7
            .quadrado8
            .container
            h1.letra Genius
